


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Generated</title>
</head>
<body>
    
    <h1 align="center">TIME TABLE</h1>
    <table border="5" cellspacing="0" align="center">
        <!--<caption>Timetable</caption>-->
        <tr>
            <td align="center" height="50"
                width="100">
                <br>
                <b>Period/Day</b></br>
            </td>
            <td align="center" height="50"
                width="100">
                <b>I<br>Monday</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>II<br>Tuesday</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>III<br>Wednesday</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>IV<br>Thursday</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>V<br>Friday</b>
            </td>
            @*<td align="center" height="50"
                    width="100">
                    <b>V<br>1:30-2:20</b>
                </td>
                <td align="center" height="50"
                    width="100">
                    <b>VI<br>2:20-3:10</b>
                </td>
                <td align="center" height="50"
                    width="100">
                    <b>VII<br>3:10-4:00</b>
                </td>*@
        </tr>
        <tr>
            <td align="center" height="50">
                <b>1</b>
            </td>
            <td align="center" height="50">@ViewBag.TT[0, 0]</td>
            <td align="center" height="50">@ViewBag.TT[0, 1]</td>
            <td align="center" height="50">@ViewBag.TT[0, 2]</td>

            <td align="center"
                height="50">
                @ViewBag.TT[0, 3]
            </td>
            <td align="center" height="50">@ViewBag.TT[0, 4]</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>2</b>
            </td>
            <td align="center"
                height="50">
                @ViewBag.TT[1, 0]
            </td>
            <td align="center" height="50">@ViewBag.TT[1, 1]</td>
            <td align="center" height="50">@ViewBag.TT[1, 2]</td>
            <td align="center" height="50">@ViewBag.TT[1, 3]</td>
            <td align="center" height="50">@ViewBag.TT[1, 4]</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>3</b>
            </td>
            <td align="center" height="50">@ViewBag.TT[2, 0]</td>
            <td align="center" height="50">@ViewBag.TT[2, 1]</td>
            <td align="center" height="50">@ViewBag.TT[2, 2]</td>
            <td align="center" height="50">@ViewBag.TT[2, 3]</td>
            <td align="center"
                height="50">
                @ViewBag.TT[2, 4]
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>4</b>
            </td>
            <td align="center" height="50">@ViewBag.TT[3, 0]</td>
            <td align="center" height="50">@ViewBag.TT[3, 1]</td>
            <td align="center" height="50">@ViewBag.TT[3, 2]</td>
            <td align="center"
                height="50">
                @ViewBag.TT[3, 3]
            </td>
            <td align="center" height="50">@ViewBag.TT[3, 4]</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>5</b>
            </td>
            <td align="center"
                height="50">
                @ViewBag.TT[4, 0]
            </td>
            <td align="center" height="50">@ViewBag.TT[4, 1]</td>
            <td align="center" height="50">@ViewBag.TT[4, 2]</td>
            <td align="center" height="50">@ViewBag.TT[4, 3]</td>
            <td align="center" height="50">@ViewBag.TT[4, 4]</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>6</b>
            </td>
            <td align="center" height="50">@ViewBag.TT[5, 0]</td>
            <td align="center" height="50">@ViewBag.TT[5, 1]</td>
            <td align="center" height="50">@ViewBag.TT[5, 2]</td>
            <td align="center"
                height="50">
                @ViewBag.TT[5, 3]
            </td>
            <td align="center" height="50">@ViewBag.TT[5, 4]</td>
        </tr>
    </table>
</body>
</body>
</html>
